.box-shadow {
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1); }

.card-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden; }

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hidden {
  display: none !important; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.rotate-n90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate-n180 {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

html, body {
  font-family: "Microsoft YaHei", "Times New Roman";
  color: #333;
  background-color: #fff; }

*.aface {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "Times New Roman"; }
  *.aface:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *.aface:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

i.fa {
  font-size: 14px; }
  i.fa.block {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center; }

.absolute {
  position: absolute; }

.fluid {
  width: 100%; }

.of-hidden {
  overflow: hidden; }

ul.aface.list {
  list-style-type: none; }
  ul.aface.list.horizontal > li.aface {
    float: left; }

a {
  color: #5bd4de;
  text-decoration: none; }
  a:hover {
    color: #3b454f; }

.none-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body.aface.index {
  background-color: #fff; }
  body.aface.index nav.aface.navbar.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    z-index: 20000;
    background-color: #3b454f;
    transition: left 200ms; }
    body.aface.index nav.aface.navbar.topbar > ul.aface.list {
      display: block; }
      body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item {
        height: 50px;
        line-height: 50px;
        font-size: 14px; }
        body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item.hover-dropdown:hover {
          background-color: #fff; }
          body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item.hover-dropdown:hover > a.aface.link {
            color: #333; }
            body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item.hover-dropdown:hover > a.aface.link > i.fa.fa-angle-down {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
          body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item.hover-dropdown:hover > ul.aface.dropdown-list {
            display: block; }
        body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list {
          box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1);
          display: none;
          background-color: #fff;
          padding: 4px 0; }
          body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list > li.aface.list-item {
            height: 30px;
            line-height: 30px; }
            body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list > li.aface.list-item.no-hover-bg:hover {
              background-color: #fff; }
              body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list > li.aface.list-item.no-hover-bg:hover > a.aface.link {
                color: #444; }
            body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list > li.aface.list-item:hover {
              background-color: #3b454f; }
              body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list > li.aface.list-item:hover > a.aface.link {
                color: #fff; }
            body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-item > ul.aface.dropdown-list > li.aface.list-item > a.aface.link {
              display: block;
              font-size: 12px;
              padding: 0 8px;
              width: 100%;
              height: 100%;
              color: #444; }
      body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-brand > a, body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface.list-brand > img {
        height: 50px;
        line-height: 50px;
        display: block;
        float: left;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
      body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface > a.aface.link {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        padding: 0 8px;
        color: #fff; }
        body.aface.index nav.aface.navbar.topbar > ul.aface.list > li.aface > a.aface.link > i.fa.fa-angle-down {
          transition: transform 200ms; }
  body.aface.index nav.aface.navbar.location {
    position: fixed;
    top: 50px;
    left: 220px;
    right: 0;
    height: 30px;
    line-height: 30px;
    background-color: #252c32;
    z-index: 19999;
    padding: 0 8px;
    font-size: 12px;
    transition: left 200ms; }
    body.aface.index nav.aface.navbar.location > ul.aface.list.location-lv > li.aface.list-item:after {
      display: inline-block;
      content: '>';
      font-family: 'Consolas';
      width: 16px;
      text-align: center; }
    body.aface.index nav.aface.navbar.location > ul.aface.list.location-lv > li.aface.list-item:last-child:after {
      content: ''; }
    body.aface.index nav.aface.navbar.location > ul.aface.list > li.aface.list-item {
      height: 30px;
      line-height: 30px;
      color: #fff; }
    body.aface.index nav.aface.navbar.location.expanded {
      left: 50px; }
  body.aface.index nav.aface.navbar.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 220px;
    bottom: 0;
    background-color: #46525e;
    z-index: 19999;
    overflow: hidden;
    transition: width 200ms; }
    body.aface.index nav.aface.navbar.sidebar.collapsed {
      width: 50px; }
      body.aface.index nav.aface.navbar.sidebar.collapsed > div.aface.hide-scroll > ul.aface > li.aface.has-menu > ul.aface > li.aface > a.aface > i.fa {
        margin-left: 0; }
      body.aface.index nav.aface.navbar.sidebar.collapsed > div.aface.sidebar-toggle > a > i.fa {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    body.aface.index nav.aface.navbar.sidebar > div.aface.sidebar-toggle {
      overflow: hidden;
      font-size: 0;
      background-color: #46525e; }
      body.aface.index nav.aface.navbar.sidebar > div.aface.sidebar-toggle > a {
        text-align: center;
        color: #fff;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 100%; }
        body.aface.index nav.aface.navbar.sidebar > div.aface.sidebar-toggle > a > i.fa {
          width: 100%;
          height: 30px;
          line-height: 30px;
          font-size: 15px; }
    body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll {
      width: 200%;
      height: 100%;
      overflow: auto; }
      body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll:after {
        content: ' ';
        display: block;
        height: 80px; }
      body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface {
        display: block;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        transition: background-color 200ms; }
        body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface a.aface {
          display: block;
          height: 40px;
          line-height: 40px;
          color: #fff;
          font-size: 13px;
          overflow: hidden; }
          body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface a.aface > i.fa {
            float: left;
            width: 50px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 18px; }
          body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface a.aface > span.aface {
            float: left;
            height: 40px;
            line-height: 40px; }
          body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface a.aface:hover {
            background-color: #5bd4de;
            color: #fff; }
        body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface > ul.aface > li.aface {
          width: 100%;
          height: 35px;
          line-height: 35px; }
          body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface > ul.aface > li.aface > a {
            width: 100%;
            float: left;
            height: 35px;
            line-height: 35px;
            font-size: 12px; }
            body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface > ul.aface > li.aface > a.active {
              background-color: #5bd4de;
              color: #fff; }
            body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface > ul.aface > li.aface > a > i.fa {
              transition: transform 200ms, margin-left 200ms;
              height: 35px;
              line-height: 35px;
              font-size: 15px;
              margin-left: 16px; }
            body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface > ul.aface > li.aface > a > span.aface {
              height: 35px;
              line-height: 35px; }
        body.aface.index nav.aface.navbar.sidebar > div.aface.hide-scroll ul.aface li.aface.expanded {
          background-color: #252c32; }

div.aface.center-frame {
  position: fixed;
  top: 80px;
  left: 220px;
  right: 0;
  bottom: 0;
  transition: left 200ms; }
  div.aface.center-frame.expanded {
    left: 50px; }
  div.aface.center-frame > iframe.container {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0; }

div.aface.toolbar {
  height: 30px;
  line-height: 30px; }
  div.aface.toolbar > div.left {
    float: left; }
    div.aface.toolbar > div.left > * {
      float: left;
      margin-left: 5px; }
      div.aface.toolbar > div.left > *:first-child {
        margin-left: 0; }
  div.aface.toolbar > div.right {
    float: right; }
    div.aface.toolbar > div.right > * {
      float: right;
      margin-right: 5px; }
      div.aface.toolbar > div.right > *:first-child {
        margin-right: 0; }

div.aface.datagrid {
  overflow: visible;
  border: solid 1px #ddd; }
  div.aface.datagrid table.aface {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0; }
  div.aface.datagrid > div.aface.datagrid-header {
    overflow: hidden; }
    div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 40px;
      line-height: 39px;
      background-color: #eee;
      font-size: 14px;
      padding: 0 10px;
      border-left: solid 1px #ddd;
      border-bottom: solid 1px #ddd; }
      div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th:first-child {
        border-left: 0; }
      div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th.aface.cb, div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th.aface.sn {
        width: 40px;
        text-align: center; }
  div.aface.datagrid > div.aface.datagrid-grid {
    overflow: auto;
    background-color: #F7F7F7; }
    div.aface.datagrid > div.aface.datagrid-grid > div.noDataHint {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 80px;
      text-align: center;
      color: #999;
      font-size: 12px; }
    div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > thead > tr > th {
      height: 0; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > thead > tr > th.aface.cb, div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > thead > tr > th.aface.sn {
        width: 40px;
        text-align: center; }
    div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td {
      text-align: center;
      padding: 0 10px;
      height: 35px;
      font-size: 12px;
      color: #555;
      background-color: #fff;
      border-left: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td:first-child {
        border-left: 0; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td:last-child {
        border-bottom: 0;
        background-color: #F7F7F7; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.aface.cb, div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.aface.sn {
        width: 40px;
        text-align: center; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td i.fa {
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px !important;
        color: #333; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td i.fa:hover {
          color: #5bd4de; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td a.aface {
        color: #333; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td a.aface:hover {
          color: #5bd4de; }
    div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr:hover > td {
      background-color: #F7F7F7; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr:hover > td:last-child {
        background-color: #F7F7F7; }
    div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody.no-x-scroll > tr:last-child > td {
      border-bottom: 0; }
  div.aface.datagrid > div.aface.datagrid-pagination {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: #fff;
    border-top: solid 1px #ddd;
    padding: 5px 0;
    overflow: visible; }
    div.aface.datagrid > div.aface.datagrid-pagination > div.aface.pagination {
      float: right;
      margin-right: 5px; }
      div.aface.datagrid > div.aface.datagrid-pagination > div.aface.pagination > a.aface.pagination {
        display: block;
        float: left;
        margin-left: 5px;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        color: #3b454f; }
        div.aface.datagrid > div.aface.datagrid-pagination > div.aface.pagination > a.aface.pagination:hover, div.aface.datagrid > div.aface.datagrid-pagination > div.aface.pagination > a.aface.pagination.active {
          color: #fff;
          background-color: #3b454f; }
        div.aface.datagrid > div.aface.datagrid-pagination > div.aface.pagination > a.aface.pagination > i.fa {
          font-size: 18px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center; }
    div.aface.datagrid > div.aface.datagrid-pagination > span.aface.pagination {
      display: block;
      float: left;
      height: 30px;
      line-height: 30px;
      margin-left: 5px;
      font-size: 12px; }
    div.aface.datagrid > div.aface.datagrid-pagination > select.aface.pagination {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      margin-left: 5px;
      float: left;
      height: 30px;
      line-height: 30px;
      border: solid 1px #ddd; }

button.aface.button {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  border: solid 1px #ddd; }
  button.aface.button:hover, button.aface.button:active {
    border-color: #5bd4de; }
  button.aface.button.primary:hover, button.aface.button.primary.active {
    color: #fff;
    border-color: #5697d0;
    background-color: #5697d0; }
  button.aface.button.success:hover, button.aface.button.success.active {
    color: #fff;
    border-color: #6ec06e;
    background-color: #6ec06e; }
  button.aface.button.info:hover, button.aface.button.info.active {
    color: #fff;
    border-color: #70dae2;
    background-color: #70dae2; }
  button.aface.button.warning:hover, button.aface.button.warning.active {
    color: #fff;
    border-color: #f2b866;
    background-color: #f2b866; }
  button.aface.button.danger:hover, button.aface.button.danger.active {
    color: #fff;
    border-color: #de6764;
    background-color: #de6764; }
  button.aface.button.disabled {
    cursor: default;
    color: #999;
    background-color: #eee;
    border: solid 1px #ddd; }
    button.aface.button.disabled > i.fa {
      color: #999; }

input.aface {
  width: 200px;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 8px;
  font-size: 12px;
  background-color: #fff;
  border: solid 1px #ddd; }
  input.aface.textbox {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }
    input.aface.textbox:hover, input.aface.textbox:active {
      border-color: #5bd4de; }

span.aface.facade.datalist {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 0;
  background-color: #fff;
  border: solid 1px #ddd;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }
  span.aface.facade.datalist:hover, span.aface.facade.datalist.active {
    border-color: #bbb; }
    span.aface.facade.datalist:hover > i.fa, span.aface.facade.datalist.active > i.fa {
      color: #bbb; }
    span.aface.facade.datalist:hover > ul.aface.facade.datalist.list, span.aface.facade.datalist.active > ul.aface.facade.datalist.list {
      border-color: #bbb; }
  span.aface.facade.datalist > * {
    float: left; }
  span.aface.facade.datalist > i.fa {
    cursor: pointer;
    color: #ddd;
    border: 0;
    box-shadow: none;
    height: 28px !important;
    line-height: 28px !important;
    width: 20px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    transition: transform 200ms; }
    span.aface.facade.datalist > i.fa.rotate {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  span.aface.facade.datalist > ul.aface.facade.datalist.list {
    border: solid 1px #ddd;
    background-color: #fff;
    z-index: 40000;
    position: absolute;
    top: 32px;
    left: -1px;
    display: block;
    padding: 3px 0;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
    span.aface.facade.datalist > ul.aface.facade.datalist.list > li.aface.list-item {
      cursor: pointer;
      display: block;
      line-height: 25px;
      color: #333;
      font-size: 12px;
      padding: 0 8px; }
      span.aface.facade.datalist > ul.aface.facade.datalist.list > li.aface.list-item:after {
        content: ' ';
        display: block;
        height: 0;
        width: 0;
        clear: both;
        visibility: hidden; }
      span.aface.facade.datalist > ul.aface.facade.datalist.list > li.aface.list-item:hover {
        background-color: #3b454f;
        color: #fff; }
  span.aface.facade.datalist > input.aface.textbox {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 28px;
    line-height: 28px; }
span.aface.facade.fileupload {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 0;
  background-color: #fff;
  border: solid 1px #ddd;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden; }
  span.aface.facade.fileupload:hover, span.aface.facade.fileupload:active {
    border-color: #bbb; }
    span.aface.facade.fileupload:hover > i.fa, span.aface.facade.fileupload:active > i.fa {
      color: #bbb; }
    span.aface.facade.fileupload:hover > ul.aface.facade.datalist.list, span.aface.facade.fileupload:active > ul.aface.facade.datalist.list {
      border-color: #bbb; }
  span.aface.facade.fileupload > input.aface.textbox {
    background-color: transparent;
    border: 0;
    width: 100%;
    box-shadow: none;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
    span.aface.facade.fileupload > input.aface.textbox[type="file"] {
      z-index: 2;
      width: 1000%;
      left: -100%; }
    span.aface.facade.fileupload > input.aface.textbox[type="text"] {
      z-index: 1; }

div.aface.tooltip {
  z-index: 999999;
  position: absolute;
  border: solid 1px #ddd;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  display: none; }
  div.aface.tooltip.primary {
    color: #428bca;
    border-color: #428bca;
    box-shadow: 0 1px 3px rgba(66, 139, 202, 0.8); }
    div.aface.tooltip.primary:after {
      border-color: #428bca; }
  div.aface.tooltip.success {
    color: #5cb85c;
    border-color: #5cb85c;
    box-shadow: 0 1px 3px rgba(92, 184, 92, 0.8); }
    div.aface.tooltip.success:after {
      border-color: #5cb85c; }
  div.aface.tooltip.info {
    color: #5bd4de;
    border-color: #5bd4de;
    box-shadow: 0 1px 3px rgba(91, 212, 222, 0.8); }
    div.aface.tooltip.info:after {
      border-color: #5bd4de; }
  div.aface.tooltip.warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
    box-shadow: 0 1px 3px rgba(240, 173, 78, 0.8); }
    div.aface.tooltip.warning:after {
      border-color: #f0ad4e; }
  div.aface.tooltip.danger {
    color: #d9534f;
    border-color: #d9534f;
    box-shadow: 0 1px 3px rgba(217, 83, 79, 0.8); }
    div.aface.tooltip.danger:after {
      border-color: #d9534f; }
  div.aface.tooltip:after {
    z-index: 29999;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 6px;
    background-color: #fff;
    border: solid 1px #ddd;
    content: ' ';
    transform: rotate(45deg); }
  div.aface.tooltip.top-arrow:after {
    top: -3px; }
  div.aface.tooltip.bottom-arrow:after {
    bottom: -3px; }
  div.aface.tooltip.left-arrow:after {
    left: calc(100% - 17px);
    bottom: 4px; }
  div.aface.tooltip.right-arrow:after {
    left: -3px;
    bottom: 4px; }
  div.aface.tooltip > span.aface.tooltip-content {
    position: relative;
    display: block;
    background-color: #fff;
    z-index: 39999;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 10px;
    white-space: nowrap; }

span.aface.blockquote {
  display: block;
  height: 30px;
  line-height: 30px;
  border-left: solid 5px #3b454f;
  font-size: 16px;
  padding-left: 5px; }

.panel-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

table.aface.form {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
  background-color: #ddd; }
  table.aface.form > tbody > tr > td {
    font-size: 12px;
    height: 35px;
    padding: 0 8px; }
    table.aface.form > tbody > tr > td.lbl {
      text-align: right;
      background-color: #eee;
      overflow: hidden; }
      table.aface.form > tbody > tr > td.lbl.notnull:before {
        content: '*';
        color: #F00;
        font-family: 'Consolas';
        font-size: 14px; }
    table.aface.form > tbody > tr > td.val {
      text-align: left;
      background-color: #fff;
      padding: 0; }
    table.aface.form > tbody > tr > td > input.aface.textbox {
      float: left;
      box-shadow: none;
      height: 35px;
      background-color: #fff;
      border: 0;
      font-size: 12px;
      padding: 0 8px; }
      table.aface.form > tbody > tr > td > input.aface.textbox.fluid {
        width: 100%; }
    table.aface.form > tbody > tr > td > span.aface.val {
      display: block;
      float: left;
      width: 100%;
      line-height: 22px;
      padding: 0 8px;
      background-color: #fff; }
    table.aface.form > tbody > tr > td > button.aface.button {
      height: 30px;
      line-height: 30px;
      margin-top: 1px;
      margin-left: 2px;
      float: left; }
    table.aface.form > tbody > tr > td > textarea.aface.textarea {
      border: 0;
      display: block;
      font-size: 12px;
      resize: none;
      width: 100%;
      padding: 8px;
      background-color: #fff; }
    table.aface.form > tbody > tr > td > span.aface.facade.datalist {
      float: left;
      height: 35px;
      line-height: 35px;
      border: 0;
      box-shadow: none; }
      table.aface.form > tbody > tr > td > span.aface.facade.datalist > input.aface.textbox, table.aface.form > tbody > tr > td > span.aface.facade.datalist > i.fa {
        box-shadow: none;
        height: 35px !important;
        line-height: 35px !important; }
      table.aface.form > tbody > tr > td > span.aface.facade.datalist > ul.aface.facade.datalist.list {
        top: 35px !important;
        width: calc(100% + 2px) !important; }
    table.aface.form > tbody > tr > td > span.aface.facade.fileupload {
      float: left;
      height: 35px;
      line-height: 35px;
      border: 0;
      box-shadow: none; }
      table.aface.form > tbody > tr > td > span.aface.facade.fileupload > input.aface.textbox {
        box-shadow: none;
        height: 35px !important;
        line-height: 35px !important; }

iframe.aface.inner-frame {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

div.aface.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20000;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: auto; }
  div.aface.modal-mask > div.aface.modal-window {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: auto auto;
    z-index: 20001;
    background-color: #fff; }
    div.aface.modal-mask > div.aface.modal-window > div.aface.modal-title {
      height: 40px;
      line-height: 40px;
      color: #333;
      background-color: #eee;
      border-bottom: solid 1px #ddd; }
      div.aface.modal-mask > div.aface.modal-window > div.aface.modal-title > span.aface.title {
        font-weight: 600;
        display: block;
        margin-left: 10px;
        height: 40px;
        line-height: 40px;
        float: left; }
      div.aface.modal-mask > div.aface.modal-window > div.aface.modal-title > i.fa {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        float: right;
        text-align: center;
        cursor: pointer; }
    div.aface.modal-mask > div.aface.modal-window > div.aface.modal-body {
      height: calc(100% - 40px);
      overflow: hidden; }

div.aface.loader-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999999; }
  div.aface.loader-mask > div.aface.loader-container {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: #252c32;
    border-radius: 3px; }
    div.aface.loader-mask > div.aface.loader-container > div.aface.loader {
      position: relative;
      width: 50px;
      height: 50px;
      -moz-animation: loader-rotate 1s infinite steps(1, start);
      -webkit-animation: loader-rotate 1s infinite steps(1, start);
      animation: loader-rotate 1s infinite steps(1, start); }
      div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface {
        position: absolute; }
        div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-core {
          z-index: 9999;
          width: 34px;
          height: 34px;
          display: block;
          top: 8px;
          left: 8px;
          border-radius: 9999px;
          background-color: #252c32; }
        div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          z-index: 8888;
          width: 8px;
          height: 40px;
          top: 5px;
          left: 21px;
          border-top: solid 20px rgba(255, 255, 255, 0.6);
          border-bottom: solid 20px rgba(255, 255, 255, 0.1); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(2) {
            -webkit-transform: rotate(36deg);
            -moz-transform: rotate(36deg);
            -ms-transform: rotate(36deg);
            transform: rotate(36deg);
            border-top-color: rgba(255, 255, 255, 0.7);
            border-bottom-color: rgba(255, 255, 255, 0.2); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(3) {
            -webkit-transform: rotate(72deg);
            -moz-transform: rotate(72deg);
            -ms-transform: rotate(72deg);
            transform: rotate(72deg);
            border-top-color: rgba(255, 255, 255, 0.8);
            border-bottom-color: rgba(255, 255, 255, 0.3); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(4) {
            -webkit-transform: rotate(108deg);
            -moz-transform: rotate(108deg);
            -ms-transform: rotate(108deg);
            transform: rotate(108deg);
            border-top-color: rgba(255, 255, 255, 0.9);
            border-bottom-color: rgba(255, 255, 255, 0.4); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(5) {
            -webkit-transform: rotate(144deg);
            -moz-transform: rotate(144deg);
            -ms-transform: rotate(144deg);
            transform: rotate(144deg);
            border-top-color: white;
            border-bottom-color: rgba(255, 255, 255, 0.5); }

@-moz-keyframes loader-rotate {
  0% {
    -moz-transform: rotate(0deg); }
  10% {
    -moz-transform: rotate(36deg); }
  20% {
    -moz-transform: rotate(72deg); }
  30% {
    -moz-transform: rotate(108deg); }
  40% {
    -moz-transform: rotate(144deg); }
  50% {
    -moz-transform: rotate(180deg); }
  60% {
    -moz-transform: rotate(216deg); }
  70% {
    -moz-transform: rotate(252deg); }
  80% {
    -moz-transform: rotate(288deg); }
  90% {
    -moz-transform: rotate(324deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes loader-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(36deg); }
  20% {
    -webkit-transform: rotate(72deg); }
  30% {
    -webkit-transform: rotate(108deg); }
  40% {
    -webkit-transform: rotate(144deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  60% {
    -webkit-transform: rotate(216deg); }
  70% {
    -webkit-transform: rotate(252deg); }
  80% {
    -webkit-transform: rotate(288deg); }
  90% {
    -webkit-transform: rotate(324deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
body.aface.login {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  background-size: 100%;
  background-image: url("../images/img4.jpg"); }
  body.aface.login div.aface.container {
    width: 1024px;
    margin: 0 auto; }
  body.aface.login > div.aface.login {
    z-index: 20000; }
  body.aface.login > div.aface.login.header {
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff; }
  body.aface.login > div.aface.login.center {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 80px;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    background-color: rgba(255, 255, 255, 0.6); }
    body.aface.login > div.aface.login.center > div.aface.container {
      overflow: hidden; }
      body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form {
        padding: 20px 20px 35px 20px;
        background-color: #fff;
        border: solid 1px #aaa;
        border-radius: 2px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
        width: 350px;
        margin: 0 auto;
        margin-top: 50px; }
        body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > input, body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > button {
          height: 40px;
          line-height: 40px;
          font-size: 13px;
          border-radius: 2px;
          width: 100%; }
        body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login {
          float: left;
          height: 50px;
          line-height: 50px;
          width: auto;
          margin: 0; }
          body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.title {
            font-size: 20px; }
          body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.errors {
            font-size: 12px;
            color: red;
            line-height: 57px;
            margin-left: 5px; }
          body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.account, body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.password {
            width: 100%;
            display: block;
            font-size: 13px;
            height: 30px;
            line-height: 30px; }
        body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > button.aface.login.button.primary {
          margin-top: 20px;
          font-size: 16px;
          box-shadow: 0 3px 0 #6aa3d5; }
  body.aface.login > div.aface.login.footer {
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 0;
    background-color: #fff; }
    body.aface.login > div.aface.login.footer > div {
      text-align: center; }
    body.aface.login > div.aface.login.footer ul.aface.list {
      margin: 0 auto;
      display: inline-block; }
      body.aface.login > div.aface.login.footer ul.aface.list > li {
        float: left;
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #aaa; }
        body.aface.login > div.aface.login.footer ul.aface.list > li:first-child {
          margin: 0; }
        body.aface.login > div.aface.login.footer ul.aface.list > li > a.aface {
          color: #aaa; }
          body.aface.login > div.aface.login.footer ul.aface.list > li > a.aface:hover {
            color: #333; }
      body.aface.login > div.aface.login.footer ul.aface.list:after {
        content: ' ';
        display: block;
        height: 0;
        width: 0;
        clear: both;
        visibility: hidden; }

div.aface.tabs {
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 5px; }
  div.aface.tabs > ul.aface.tab-indices {
    list-style-type: none;
    height: 40px;
    font-weight: 900;
    border-bottom: solid 2px #ddd; }
    div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index {
      float: left;
      cursor: pointer;
      padding: 0 20px;
      text-align: center;
      margin-left: 5px;
      height: 40px;
      line-height: 40px;
      color: #3b454f;
      font-size: 13px; }
      div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index:first-child {
        margin-left: 0; }
      div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index.active, div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index:hover {
        color: #5bd4de;
        border-bottom: solid 2px #5bd4de; }
    div.aface.tabs > ul.aface.tab-indices:after {
      content: ' ';
      display: block;
      height: 0;
      width: 0;
      clear: both;
      visibility: hidden; }
  div.aface.tabs > div.aface.tab-contents {
    margin-top: 5px; }
    div.aface.tabs > div.aface.tab-contents > div.tab-content {
      display: none;
      width: 100%;
      height: 100%; }
      div.aface.tabs > div.aface.tab-contents > div.tab-content.active {
        display: block; }

div.aface.panel {
  border: solid 1px #ddd;
  background-color: #fff; }

div.aface.pop-message {
  position: relative;
  display: inline-block;
  color: #fff;
  margin: 5%;
  width: 500px;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #428bca;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1); }
  div.aface.pop-message > div.aface.pop-message-icon {
    background-color: #357ebd; }
    div.aface.pop-message > div.aface.pop-message-icon > div.aface.pm-icon-mask {
      background-color: #357ebd; }
  div.aface.pop-message.success {
    background-color: #5cb85c; }
    div.aface.pop-message.success > div.aface.pop-message-icon {
      background-color: #4cae4c; }
      div.aface.pop-message.success > div.aface.pop-message-icon > div.aface.pm-icon-mask {
        background-color: #4cae4c; }
  div.aface.pop-message.failed {
    background-color: #d9534f; }
    div.aface.pop-message.failed > div.aface.pop-message-icon {
      background-color: #d43f3a; }
      div.aface.pop-message.failed > div.aface.pop-message-icon > div.aface.pm-icon-mask {
        background-color: #d43f3a; }
  div.aface.pop-message.info {
    background-color: #46525e; }
    div.aface.pop-message.info > div.aface.pop-message-icon {
      background-color: #3b454f; }
      div.aface.pop-message.info > div.aface.pop-message-icon > div.aface.pm-icon-mask {
        background-color: #3b454f; }
  div.aface.pop-message > div.aface.pop-message-icon {
    position: relative;
    float: left;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center; }
    div.aface.pop-message > div.aface.pop-message-icon > i.fa {
      display: block;
      height: 50px;
      line-height: 50px;
      font-size: 20px; }
  div.aface.pop-message > div.aface.pop-message-content {
    float: left;
    width: calc(100% - 80px);
    height: 50px;
    line-height: 50px;
    padding: 0 20px; }

div.aface.card {
  display: inline-block;
  border: solid 1px transparent; }
  div.aface.card:hover, div.aface.card.active {
    background-color: #fff;
    border: solid 1px #5bd4de; }

/*# sourceMappingURL=aface.css.map */
