.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden; }

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hidden {
  display: none !important; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.rotate-n90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate-n180 {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

html,
body {
  font-family: "Microsoft YaHei", "Times New Roman";
  color: #333; }

*.aface {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "Times New Roman"; }
  *.aface:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *.aface:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.absolute {
  position: absolute; }

.fluid {
  width: 100%; }

.of-hidden {
  overflow: hidden; }

body.aface.index {
  background-color: #f6f6f6; }
  body.aface.index nav.aface.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0;
    height: 60px;
    background-color: #3b454f; }
    body.aface.index nav.aface.top-menu > img.aface.icon {
      margin: 0;
      padding: 0;
      border: 0;
      outline: none;
      text-decoration: none;
      display: block;
      float: left;
      width: 60px;
      height: 60px;
      line-height: 60px; }
    body.aface.index nav.aface.top-menu > span.aface.menu-item {
      display: block;
      float: left;
      height: 60px;
      line-height: 60px;
      padding: 0 15px;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      position: relative;
      transition: color 300ms; }
      body.aface.index nav.aface.top-menu > span.aface.menu-item.active {
        color: #5bc0de; }
    body.aface.index nav.aface.top-menu > span.aface.underline {
      position: absolute;
      bottom: 0;
      height: 5px;
      background-color: transparent;
      transition: background-color 300ms; }
      body.aface.index nav.aface.top-menu > span.aface.underline.active {
        background-color: #5bc0de; }

div.aface.datagrid {
  overflow: visible;
  border: solid 1px #ddd; }
  div.aface.datagrid > div.aface.datagrid-header {
    overflow: hidden; }
    div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader {
      width: 100%;
      table-layout: fixed;
      border-spacing: 0; }
      div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 40px;
        background-color: #eee;
        font-size: 13px;
        font-weight: normal;
        padding: 0 10px;
        color: #555;
        border-left: solid 1px #ddd;
        border-bottom: solid 2px #ddd; }
        div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th:first-child {
          border-left: 0; }
        div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th.aface.cb, div.aface.datagrid > div.aface.datagrid-header > table.aface.dataheader > thead > tr > th.aface.sn {
          width: 40px;
          text-align: center; }
  div.aface.datagrid > div.aface.datagrid-grid {
    overflow: auto;
    background-color: #F7F7F7; }
    div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid {
      width: 100%;
      table-layout: fixed;
      border-spacing: 0; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > thead > tr > th {
        height: 0; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > thead > tr > th.aface.cb, div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > thead > tr > th.aface.sn {
          width: 40px;
          text-align: center; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td {
        text-align: center;
        padding: 0 10px;
        height: 35px;
        font-size: 12px;
        color: #555;
        background-color: #fff;
        border-left: solid 1px #ddd;
        border-bottom: solid 1px #ddd; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td:first-child {
          border-left: 0; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td:last-child {
          border-bottom: 0;
          background-color: #F7F7F7; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.aface.cb, div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.aface.sn {
          width: 40px;
          text-align: center; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td i.fa {
          display: inline-block;
          text-align: center;
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 14px !important;
          color: #555; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.autowrap {
          word-break: break-all;
          word-wrap: break-word; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nowrap {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding {
          padding: 0;
          overflow: visible; }
          div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding > span.aface.facade.datalist {
            float: left;
            height: 34px;
            line-height: 34px;
            border: 0;
            box-shadow: none; }
            div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding > span.aface.facade.datalist > input.aface.textbox, div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding > span.aface.facade.datalist > i.fa {
              box-shadow: none;
              height: 34px !important;
              line-height: 34px !important;
              width: 22px; }
            div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding > span.aface.facade.datalist > ul.aface.facade.datalist.list {
              text-align: left;
              top: 34px !important;
              width: calc(100% + 2px) !important; }
          div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding > span.aface.facade {
            float: left;
            height: 34px;
            line-height: 34px;
            border: 0;
            box-shadow: none; }
            div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr > td.nopadding > span.aface.facade > input.aface.textbox {
              box-shadow: none;
              height: 34px !important;
              line-height: 34px !important; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr:hover > td {
        background-color: #F7F7F7; }
        div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody > tr:hover > td:last-child {
          background-color: #F7F7F7; }
      div.aface.datagrid > div.aface.datagrid-grid > table.aface.datagrid > tbody.no-x-scroll > tr:last-child > td {
        border-bottom: 0; }
  div.aface.datagrid > div.aface.datagrid-pagination {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: #fff;
    border-top: solid 1px #ddd;
    padding: 5px;
    overflow: visible; }
    div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item {
      margin-right: 5px;
      height: 29px;
      line-height: 29px; }
      div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item:lase-child {
        margin-right: 0; }
      div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > button.aface.button {
        padding: 0;
        width: 29px;
        height: 29px;
        line-height: 29px; }
        div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > button.aface.button > i.fa {
          display: block;
          width: 29px;
          height: 29px;
          line-height: 29px;
          text-align: center; }
      div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > input.aface.textbox {
        width: 75px;
        height: 29px;
        line-height: 29px; }
      div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > span.aface.facade.datalist {
        z-index: 20000 !important;
        height: 29px;
        line-height: 29px; }
        div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > span.aface.facade.datalist > input.aface.textbox, div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > span.aface.facade.datalist > i.fa {
          height: 27px !important;
          line-height: 27px !important; }
        div.aface.datagrid > div.aface.datagrid-pagination > ul.aface.list > li.aface.list-item > span.aface.facade.datalist > ul.aface.facade.datalist.list {
          top: 31px; }

button.aface.button {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
  border: solid 1px #ddd; }
  button.aface.button:hover, button.aface.button:active {
    border-color: #bbb; }
  button.aface.button.primary {
    border-color: #428bca;
    background-color: #428bca;
    color: #fff; }
    button.aface.button.primary:hover {
      border-color: #5697d0;
      background-color: #5697d0; }
    button.aface.button.primary:active {
      border-color: #357ebd;
      background-color: #357ebd; }
  button.aface.button.success {
    border-color: #5cb85c;
    background-color: #5cb85c;
    color: #fff; }
    button.aface.button.success:hover {
      border-color: #6ec06e;
      background-color: #6ec06e; }
    button.aface.button.success:active {
      border-color: #4cae4c;
      background-color: #4cae4c; }
  button.aface.button.info {
    border-color: #5bc0de;
    background-color: #5bc0de;
    color: #fff; }
    button.aface.button.info:hover {
      border-color: #70c8e2;
      background-color: #70c8e2; }
    button.aface.button.info:active {
      border-color: #46b8da;
      background-color: #46b8da; }
  button.aface.button.warning {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
    color: #fff; }
    button.aface.button.warning:hover {
      border-color: #f2b866;
      background-color: #f2b866; }
    button.aface.button.warning:active {
      border-color: #eea236;
      background-color: #eea236; }
  button.aface.button.danger {
    border-color: #d9534f;
    background-color: #d9534f;
    color: #fff; }
    button.aface.button.danger:hover {
      border-color: #de6764;
      background-color: #de6764; }
    button.aface.button.danger:active {
      border-color: #d43f3a;
      background-color: #d43f3a; }
  button.aface.button.disabled {
    cursor: default;
    color: #999;
    background-color: #eee;
    border: solid 1px #ddd; }
    button.aface.button.disabled > i.fa {
      color: #999; }

input.aface {
  width: 200px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 12px;
  background-color: #fff;
  border: solid 1px #ddd; }
  input.aface.textbox {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }
    input.aface.textbox:hover, input.aface.textbox:active {
      border-color: #bbb; }

span.aface.facade.datalist {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 0;
  background-color: #fff;
  border: solid 1px #ddd;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }
  span.aface.facade.datalist:hover, span.aface.facade.datalist.active {
    border-color: #bbb; }
    span.aface.facade.datalist:hover > i.fa, span.aface.facade.datalist.active > i.fa {
      color: #bbb; }
    span.aface.facade.datalist:hover > ul.aface.facade.datalist.list, span.aface.facade.datalist.active > ul.aface.facade.datalist.list {
      border-color: #bbb; }
  span.aface.facade.datalist > * {
    float: left; }
  span.aface.facade.datalist > i.fa {
    cursor: pointer;
    color: #ddd;
    border: 0;
    box-shadow: none;
    height: 28px !important;
    line-height: 28px !important;
    width: 20px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    transition: transform 300ms; }
    span.aface.facade.datalist > i.fa.rotate {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  span.aface.facade.datalist > ul.aface.facade.datalist.list {
    border: solid 1px #ddd;
    background-color: #fff;
    z-index: 40000;
    position: absolute;
    top: 32px;
    left: -1px;
    display: block;
    padding: 3px 0;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
    span.aface.facade.datalist > ul.aface.facade.datalist.list > li.aface.list-item {
      cursor: pointer;
      display: block;
      line-height: 25px;
      color: #333;
      font-size: 12px;
      padding: 0 8px; }
      span.aface.facade.datalist > ul.aface.facade.datalist.list > li.aface.list-item:after {
        content: ' ';
        display: block;
        height: 0;
        width: 0;
        clear: both;
        visibility: hidden; }
      span.aface.facade.datalist > ul.aface.facade.datalist.list > li.aface.list-item:hover {
        background-color: #3b454f;
        color: #fff; }
  span.aface.facade.datalist > input.aface.textbox {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    height: 28px;
    line-height: 28px; }
span.aface.facade.fileupload {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-size: 0;
  background-color: #fff;
  border: solid 1px #ddd;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden; }
  span.aface.facade.fileupload:hover, span.aface.facade.fileupload:active {
    border-color: #bbb; }
    span.aface.facade.fileupload:hover > i.fa, span.aface.facade.fileupload:active > i.fa {
      color: #bbb; }
    span.aface.facade.fileupload:hover > ul.aface.facade.datalist.list, span.aface.facade.fileupload:active > ul.aface.facade.datalist.list {
      border-color: #bbb; }
  span.aface.facade.fileupload > input.aface.textbox {
    background-color: transparent;
    border: 0;
    width: 100%;
    box-shadow: none;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer; }
    span.aface.facade.fileupload > input.aface.textbox[type="file"] {
      z-index: 2;
      width: 1000%;
      left: -100%; }
    span.aface.facade.fileupload > input.aface.textbox[type="text"] {
      z-index: 1; }

input.aface.textbox[type="file"] {
  opacity: 0; }

span.aface.blockquote {
  display: block;
  height: 30px;
  line-height: 30px;
  border-left: solid 3px #3b454f;
  padding-left: 5px;
  font-size: 14px; }

div.aface.tooltip {
  z-index: 999999;
  position: absolute;
  border: solid 1px #ddd;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  display: none; }
  div.aface.tooltip.primary {
    color: #428bca;
    border-color: #428bca;
    box-shadow: 0 1px 3px rgba(66, 139, 202, 0.8); }
    div.aface.tooltip.primary:after {
      border-color: #428bca; }
  div.aface.tooltip.success {
    color: #5cb85c;
    border-color: #5cb85c;
    box-shadow: 0 1px 3px rgba(92, 184, 92, 0.8); }
    div.aface.tooltip.success:after {
      border-color: #5cb85c; }
  div.aface.tooltip.info {
    color: #5bc0de;
    border-color: #5bc0de;
    box-shadow: 0 1px 3px rgba(91, 192, 222, 0.8); }
    div.aface.tooltip.info:after {
      border-color: #5bc0de; }
  div.aface.tooltip.warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
    box-shadow: 0 1px 3px rgba(240, 173, 78, 0.8); }
    div.aface.tooltip.warning:after {
      border-color: #f0ad4e; }
  div.aface.tooltip.danger {
    color: #d9534f;
    border-color: #d9534f;
    box-shadow: 0 1px 3px rgba(217, 83, 79, 0.8); }
    div.aface.tooltip.danger:after {
      border-color: #d9534f; }
  div.aface.tooltip:after {
    z-index: 29999;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 6px;
    background-color: #fff;
    border: solid 1px #ddd;
    content: ' ';
    transform: rotate(45deg); }
  div.aface.tooltip.top-arrow:after {
    top: -3px; }
  div.aface.tooltip.bottom-arrow:after {
    bottom: -3px; }
  div.aface.tooltip.left-arrow:after {
    left: calc(100% - 17px);
    bottom: 4px; }
  div.aface.tooltip.right-arrow:after {
    left: -3px;
    bottom: 4px; }
  div.aface.tooltip > span.aface.tooltip-content {
    position: relative;
    display: block;
    background-color: #fff;
    z-index: 39999;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    padding: 0 10px;
    white-space: nowrap; }

.validate-hint {
  background-color: rgba(221, 0, 0, 0.3) !important; }
  .validate-hint::-moz-placeholder {
    color: #d9534f;
    opacity: 1 !important; }
  .validate-hint:-ms-input-placeholder {
    color: #d9534f;
    opacity: 1 !important; }
  .validate-hint::-webkit-input-placeholder {
    color: #d9534f;
    opacity: 1 !important; }

table.aface.form {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
  background-color: #ddd; }
  table.aface.form > tbody > tr > td {
    font-size: 12px;
    height: 35px;
    padding: 0 8px; }
    table.aface.form > tbody > tr > td.lbl {
      text-align: right;
      background-color: #eee;
      overflow: hidden; }
      table.aface.form > tbody > tr > td.lbl.notnull:before {
        content: '*';
        color: #F00;
        font-family: 'Consolas';
        font-size: 14px; }
    table.aface.form > tbody > tr > td.val {
      text-align: left;
      background-color: #fff;
      padding: 0; }
    table.aface.form > tbody > tr > td > input.aface.textbox {
      float: left;
      box-shadow: none;
      height: 35px;
      background-color: #fff;
      border: 0;
      font-size: 12px;
      padding: 0 8px; }
      table.aface.form > tbody > tr > td > input.aface.textbox.fluid {
        width: 100%; }
    table.aface.form > tbody > tr > td > span.aface.val {
      display: block;
      float: left;
      width: 100%;
      line-height: 22px;
      padding: 0 8px;
      background-color: #fff; }
    table.aface.form > tbody > tr > td > button.aface.button {
      height: 30px;
      line-height: 30px;
      margin-top: 1px;
      margin-left: 2px;
      float: left; }
    table.aface.form > tbody > tr > td > textarea.aface.textarea {
      border: 0;
      display: block;
      font-size: 12px;
      resize: none;
      width: 100%;
      padding: 8px;
      background-color: #fff; }
    table.aface.form > tbody > tr > td > span.aface.facade.datalist {
      float: left;
      height: 35px;
      line-height: 35px;
      border: 0;
      box-shadow: none; }
      table.aface.form > tbody > tr > td > span.aface.facade.datalist > input.aface.textbox, table.aface.form > tbody > tr > td > span.aface.facade.datalist > i.fa {
        box-shadow: none;
        height: 35px !important;
        line-height: 35px !important; }
      table.aface.form > tbody > tr > td > span.aface.facade.datalist > ul.aface.facade.datalist.list {
        top: 35px !important;
        width: calc(100% + 2px) !important; }
    table.aface.form > tbody > tr > td > span.aface.facade.fileupload {
      float: left;
      height: 35px;
      line-height: 35px;
      border: 0;
      box-shadow: none; }
      table.aface.form > tbody > tr > td > span.aface.facade.fileupload > input.aface.textbox {
        box-shadow: none;
        height: 35px !important;
        line-height: 35px !important; }

iframe.aface.inner-frame {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

div.aface.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20000;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: auto; }
  div.aface.modal-mask > div.aface.modal-window {
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.6);
    margin: auto auto;
    z-index: 20001;
    background-color: #fff; }
    div.aface.modal-mask > div.aface.modal-window > div.aface.modal-title {
      height: 40px;
      line-height: 40px;
      padding: 3px;
      color: #fff;
      background-color: #3b454f; }
      div.aface.modal-mask > div.aface.modal-window > div.aface.modal-title > span.aface.title {
        display: block;
        margin-left: 7px;
        height: 34px;
        line-height: 34px;
        float: left; }
      div.aface.modal-mask > div.aface.modal-window > div.aface.modal-title > i.fa {
        display: block;
        width: 40px;
        height: 34px;
        line-height: 34px;
        float: right;
        text-align: center;
        cursor: pointer; }
    div.aface.modal-mask > div.aface.modal-window > div.aface.modal-body {
      height: calc(100% - 40px);
      overflow: hidden; }

div.aface.loader-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999999; }
  div.aface.loader-mask > div.aface.loader-container {
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: #252c32;
    border-radius: 3px; }
    div.aface.loader-mask > div.aface.loader-container > div.aface.loader {
      position: relative;
      width: 50px;
      height: 50px;
      -moz-animation: loader-rotate 1s infinite steps(1, start);
      -webkit-animation: loader-rotate 1s infinite steps(1, start);
      animation: loader-rotate 1s infinite steps(1, start); }
      div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface {
        position: absolute; }
        div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-core {
          z-index: 9999;
          width: 34px;
          height: 34px;
          display: block;
          top: 8px;
          left: 8px;
          border-radius: 9999px;
          background-color: #252c32; }
        div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          z-index: 8888;
          width: 8px;
          height: 40px;
          top: 5px;
          left: 21px;
          border-top: solid 20px rgba(255, 255, 255, 0.6);
          border-bottom: solid 20px rgba(255, 255, 255, 0.1); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(2) {
            -webkit-transform: rotate(36deg);
            -moz-transform: rotate(36deg);
            -ms-transform: rotate(36deg);
            transform: rotate(36deg);
            border-top-color: rgba(255, 255, 255, 0.7);
            border-bottom-color: rgba(255, 255, 255, 0.2); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(3) {
            -webkit-transform: rotate(72deg);
            -moz-transform: rotate(72deg);
            -ms-transform: rotate(72deg);
            transform: rotate(72deg);
            border-top-color: rgba(255, 255, 255, 0.8);
            border-bottom-color: rgba(255, 255, 255, 0.3); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(4) {
            -webkit-transform: rotate(108deg);
            -moz-transform: rotate(108deg);
            -ms-transform: rotate(108deg);
            transform: rotate(108deg);
            border-top-color: rgba(255, 255, 255, 0.9);
            border-bottom-color: rgba(255, 255, 255, 0.4); }
          div.aface.loader-mask > div.aface.loader-container > div.aface.loader > span.aface.loader-leaf:nth-child(5) {
            -webkit-transform: rotate(144deg);
            -moz-transform: rotate(144deg);
            -ms-transform: rotate(144deg);
            transform: rotate(144deg);
            border-top-color: white;
            border-bottom-color: rgba(255, 255, 255, 0.5); }

@-moz-keyframes loader-rotate {
  0% {
    -moz-transform: rotate(0deg); }
  10% {
    -moz-transform: rotate(36deg); }
  20% {
    -moz-transform: rotate(72deg); }
  30% {
    -moz-transform: rotate(108deg); }
  40% {
    -moz-transform: rotate(144deg); }
  50% {
    -moz-transform: rotate(180deg); }
  60% {
    -moz-transform: rotate(216deg); }
  70% {
    -moz-transform: rotate(252deg); }
  80% {
    -moz-transform: rotate(288deg); }
  90% {
    -moz-transform: rotate(324deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes loader-rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(36deg); }
  20% {
    -webkit-transform: rotate(72deg); }
  30% {
    -webkit-transform: rotate(108deg); }
  40% {
    -webkit-transform: rotate(144deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  60% {
    -webkit-transform: rotate(216deg); }
  70% {
    -webkit-transform: rotate(252deg); }
  80% {
    -webkit-transform: rotate(288deg); }
  90% {
    -webkit-transform: rotate(324deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes loader-rotate {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(36deg); }
  20% {
    transform: rotate(72deg); }
  30% {
    transform: rotate(108deg); }
  40% {
    transform: rotate(144deg); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(216deg); }
  70% {
    transform: rotate(252deg); }
  80% {
    transform: rotate(288deg); }
  90% {
    transform: rotate(324deg); }
  100% {
    transform: rotate(360deg); } }
body.aface.login {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  background-size: 100%;
  background-image: url("../images/img4.jpg"); }
  body.aface.login div.aface.container {
    width: 1024px;
    margin: 0 auto; }
  body.aface.login > div.aface.login {
    z-index: 20000; }
  body.aface.login > div.aface.login.header {
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff; }
  body.aface.login > div.aface.login.center {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 80px;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    background-color: rgba(255, 255, 255, 0.6); }
    body.aface.login > div.aface.login.center > div.aface.container {
      overflow: hidden; }
      body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form {
        padding: 20px 20px 35px 20px;
        background-color: #fff;
        border: solid 1px #aaa;
        border-radius: 2px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
        width: 350px;
        margin: 0 auto;
        margin-top: 50px; }
        body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > input, body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > button {
          height: 40px;
          line-height: 40px;
          font-size: 13px;
          border-radius: 2px;
          width: 100%; }
        body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login {
          float: left;
          height: 50px;
          line-height: 50px;
          width: auto;
          margin: 0; }
          body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.title {
            font-size: 20px; }
          body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.errors {
            font-size: 12px;
            color: red;
            line-height: 57px;
            margin-left: 5px; }
          body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.account, body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > span.aface.login.password {
            width: 100%;
            display: block;
            font-size: 13px;
            height: 30px;
            line-height: 30px; }
        body.aface.login > div.aface.login.center > div.aface.container form.aface.login.login-form > button.aface.login.button.primary {
          margin-top: 20px;
          font-size: 16px;
          box-shadow: 0 3px 0 #6aa3d5; }
  body.aface.login > div.aface.login.footer {
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-size: 0;
    background-color: #fff; }
    body.aface.login > div.aface.login.footer > div {
      text-align: center; }
    body.aface.login > div.aface.login.footer ul.aface.list {
      margin: 0 auto;
      display: inline-block; }
      body.aface.login > div.aface.login.footer ul.aface.list > li {
        float: left;
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #aaa; }
        body.aface.login > div.aface.login.footer ul.aface.list > li:first-child {
          margin: 0; }
        body.aface.login > div.aface.login.footer ul.aface.list > li > a.aface {
          color: #aaa; }
          body.aface.login > div.aface.login.footer ul.aface.list > li > a.aface:hover {
            color: #333; }
      body.aface.login > div.aface.login.footer ul.aface.list:after {
        content: ' ';
        display: block;
        height: 0;
        width: 0;
        clear: both;
        visibility: hidden; }

div.aface.tabs > ul.aface.tab-indices {
  list-style-type: none; }
  div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index {
    float: left;
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
    margin-left: 5px;
    height: 30px;
    line-height: 30px;
    color: #3b454f;
    background-color: #bcc5cd;
    font-size: 13px; }
    div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index:first-child {
      margin-left: 0; }
    div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index.active, div.aface.tabs > ul.aface.tab-indices > li.aface.tab-index:hover {
      color: #fff;
      background-color: #46525e; }
  div.aface.tabs > ul.aface.tab-indices:after {
    content: ' ';
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden; }
div.aface.tabs > div.aface.tab-contents {
  margin-top: 5px; }
  div.aface.tabs > div.aface.tab-contents > div.tab-content {
    display: none;
    width: 100%;
    height: 100%; }
    div.aface.tabs > div.aface.tab-contents > div.tab-content.active {
      display: block; }

div.aface.panel {
  overflow: visible;
  border: solid 1px #ddd; }
  div.aface.panel > div.aface.panel-title {
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    border-bottom: solid 1px #ddd;
    background-color: #eee; }
    div.aface.panel > div.aface.panel-title > span.aface.title {
      height: 39px;
      line-height: 39px; }
    div.aface.panel > div.aface.panel-title > a.aface.icon-button {
      float: right;
      border-left: solid 1px #ddd; }
      div.aface.panel > div.aface.panel-title > a.aface.icon-button > i.fa {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 39px;
        height: 39px;
        line-height: 39px;
        display: block;
        text-align: center;
        font-size: 20px;
        transition: transform 300ms; }
    div.aface.panel > div.aface.panel-title > div.aface.button-group {
      float: right; }
      div.aface.panel > div.aface.panel-title > div.aface.button-group > a.aface {
        float: left;
        border-left: solid 1px #ddd; }
        div.aface.panel > div.aface.panel-title > div.aface.button-group > a.aface > i.fa {
          width: 40px;
          height: 39px;
          line-height: 39px;
          display: block;
          text-align: center;
          font-size: 16px; }
  div.aface.panel > div.aface.panel-body {
    overflow: visible;
    height: calc(100% - 40px); }
    div.aface.panel > div.aface.panel-body > div.aface.datagrid {
      border: 0; }
    div.aface.panel > div.aface.panel-body > table.aface.form {
      border: 0; }
  div.aface.panel.collapsed {
    height: 41px !important; }
    div.aface.panel.collapsed > div.aface.panel-body {
      overflow: hidden; }
    div.aface.panel.collapsed > div.aface.panel-title > a.aface.icon-button > i.fa {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

/*# sourceMappingURL=aface.css.map */
