.box-shadow {
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.1); }

.card-shadow {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden; }

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hidden {
  display: none !important; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.rotate-n90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate-n180 {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

html, body {
  font-family: "Microsoft YaHei", "Times New Roman";
  color: #333;
  background-color: #fff; }

*.aface {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "Times New Roman"; }
  *.aface:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *.aface:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

i.fa {
  font-size: 14px; }
  i.fa.block {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center; }

.absolute {
  position: absolute; }

.fluid {
  width: 100%; }

.of-hidden {
  overflow: hidden; }

ul.aface.list {
  list-style-type: none; }
  ul.aface.list.horizontal > li.aface {
    float: left; }

a {
  color: #5bd4de;
  text-decoration: none; }
  a:hover {
    color: #3b454f; }

.none-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input {
  outline: none;
  height: 40px;
  font-size: 14px;
  font-family: 'Microsoft YaHei', 'Consolas';
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px #999; }
  input:focus, input:active {
    border-color: #428bca;
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.7) inset; }
  input.aface-textbox.primary {
    border-color: #428bca;
    box-shadow: 0 0 5px rgba(66, 139, 202, 0.7) inset; }
  input.aface-textbox.success {
    border-color: #5cb85c;
    box-shadow: 0 0 5px rgba(92, 184, 92, 0.7) inset; }

button.aface-button {
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #999;
  background-color: #eee;
  transition: box-shadow 200ms; }
  button.aface-button:active {
    border-color: #777;
    box-shadow: 0 0 5px rgba(119, 119, 119, 0.7) inset; }

/*# sourceMappingURL=aface.css.map */
