$button-height: 30px;
$button-padding: 10px;
@mixin button-style($color) {
    background-color: $color;
    @if lightness($color) > 70 {
        color: $color-3;
    }
    @else {
        color: $color-f;
    }
    &:hover {
        background-color: lighten($color, 5%);
    }
    &:active {
        background-color: darken($color, 5%);
    }
}

button.aface {
    &.button {
        display: inline-block;
        height: $button-height;
        line-height: $button-height;
        padding: 0 $button-padding;
        cursor: pointer;
        font-size: 12px;
        background-color: $color-f;
        &.primary {
            @include button-style($color-primary);
        }
        &.success {
            @include button-style($color-success);
        }
        &.info {
            @include button-style($color-info);
        }
        &.warning {
            @include button-style($color-warning);
        }
        &.danger {
            @include button-style($color-danger);
        }
    }
}