$button-height: 30px;
$button-padding: 10px;

@mixin button-style($color) {
    background-color: $color;
    &:hover {
        background-color: lighten($color, 15%);
    }
    &:active {
        background-color: darken($color, 15%);
    }
}

button.aface {
    &.button {
        @include zero;
        @include border-box;
		@include button-style($color-primary);
        display: inline-block;
        height: $button-height;
        line-height: $button-height;
        padding: 0 $button-padding;
        cursor: pointer;
		color: $color-f;
        font-size: 13px;
		
        &.success {
            @include button-style($color-success);
        }
        &.failed {
            @include button-style($color-danger);
        }
        &.info {
            @include button-style($color-steel-hover);
        }
    }
}