$datagrid-border: solid 1px $color-d;
$datagrid-header-bg-color: $color-e;
$datagrid-grid-row-hover-color: #F7F7F7;
$datagrid-grid-row-height: 35px;
$datagrid-header-height: 40px;
$datagrid-pagination-height: 40px;

div.aface.datagrid {
    overflow: visible;
    border: $datagrid-border;

    &>div.aface {
        &.datagrid-header {
            overflow: hidden;

            &>table.aface.dataheader {
                width: 100%;
                table-layout: fixed;
                border-spacing: 0;

                &>thead>tr>th {
                    @include nowrap;
                    height: $datagrid-header-height;
                    background-color: $datagrid-header-bg-color;
                    font-size: 13px;
                    font-weight: normal;
                    padding: 0 10px;
                    color: $color-5;

                    border-left: $datagrid-border;
                    border-bottom: solid 2px $color-d;
                    
                    &:first-child { border-left: 0; }

                    &.aface.cb, &.aface.sn {
                        width: $datagrid-header-height;
                        text-align: center;
                    }
                }
            }
        }

        &.datagrid-grid {
            overflow: auto;
            background-color: $datagrid-grid-row-hover-color;

            &>table.aface.datagrid {
                width: 100%;
                table-layout: fixed;
                border-spacing: 0;

                &>thead>tr>th {
                    height: 0;

                    &.aface.cb, &.aface.sn {
                        width: $datagrid-header-height;
                        text-align: center;
                    }
                }

                &>tbody {
                    &>tr {
                        &>td {
                            text-align: center;
                            padding: 0 10px;
                            height: $datagrid-grid-row-height;
                            font-size: 12px;
                            color: $color-5;
                            background-color: $color-f;

                            border-left: $datagrid-border;
                            border-bottom: $datagrid-border;

                            &:first-child { border-left: 0; }
                            &:last-child {
                                border-bottom: 0;
                                background-color:
                                $datagrid-grid-row-hover-color;
                            }

                            &.aface.cb, &.aface.sn {
                                width: $datagrid-header-height;
                                text-align: center;
                            }

                            i.fa {
                                display: inline-block;
                                text-align: center;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                font-size: 14px !important;
                                color: $color-5;
                            }

                            &.autowrap {
                                word-break: break-all;
                                word-wrap: break-word;
                            }

                            &.nowrap {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            &.nopadding {
                                padding: 0;
                                overflow: visible;

                                &>span.aface.facade.datalist {
                                    float: left;
                                    height: $datagrid-grid-row-height - 1;
                                    line-height: $datagrid-grid-row-height - 1;
                                    border: 0;
                                    box-shadow: none;

                                    &>input.aface.textbox, &>i.fa {
                                        box-shadow: none;
                                        height: $datagrid-grid-row-height - 1 !important;
                                        line-height: $datagrid-grid-row-height - 1 !important;
                                        width: 22px;
                                    }
                                    &>ul.aface.facade.datalist.list {
                                        text-align: left;
                                        top: $datagrid-grid-row-height - 1 !important;
                                        width: calc(100% + 2px) !important;
                                    }
                                }

                                &>span.aface.facade {
                                    float: left;
                                    height: $datagrid-grid-row-height - 1;
                                    line-height: $datagrid-grid-row-height - 1;
                                    border: 0;
                                    box-shadow: none;

                                    &>input.aface.textbox {
                                        box-shadow: none;
                                        height: $datagrid-grid-row-height - 1 !important;
                                        line-height: $datagrid-grid-row-height - 1 !important;
                                    }
                                }
                            }
                        }

                        &:hover {
                            &>td {
                                background-color: $datagrid-grid-row-hover-color;

                                &:last-child { background-color: $datagrid-grid-row-hover-color; }
                            }
                        }
                    }

                    &.no-x-scroll {
                        &>tr:last-child {
                            &>td { border-bottom: 0; }
                        }
                    }
                }
            }
        }

        &.datagrid-pagination {
            height: $datagrid-pagination-height;
            line-height: $datagrid-pagination-height;
            font-size: 12px;
            background-color: $color-f;
            border-top: $datagrid-border;
            padding: 5px;
            overflow: visible;

            &>ul.aface.list {
                &>li.aface.list-item {
                    margin-right: 5px;
                    height: 29px;
                    line-height: 29px;

                    &:lase-child { margin-right: 0;  }

                    &>button.aface.button {
                        padding: 0;
                        width: 29px;
                        height: 29px;
                        line-height: 29px;

                        &>i.fa {
                            display: block;
                            width: 29px;
                            height: 29px;
                            line-height: 29px;
                            text-align: center;
                        }
                    }

                    &>input.aface.textbox {
                        width: 75px;
                        height: 29px;
                        line-height: 29px;
                    }

                    &>span.aface.facade.datalist {
                        z-index: 20000 !important;
                        height: 29px;
                        line-height: 29px;

                        &>input.aface.textbox,
                        &>i.fa {
                            height: 27px !important;
                            line-height: 27px !important;
                        }

                        &>ul.aface.facade.datalist.list {
                            top: 31px;
                        }
                    }
                }
            }
        }
    }
}