$datatable-line-height: 40px;
$datatable-header-height: $datatable-line-height;
$checkbox-dimension: $datatable-line-height;

div.aface.datatable-container {
    &>table.aface.datatable {
        border-spacing: 0;
        width: 100%;
        &>thead {
            &>tr {
                &>th.aface.header {
                    &.checkbox {
                        text-align: center;
                        width: $checkbox-dimension;
                        height: $checkbox-dimension;
                        line-height: $checkbox-dimension;
                    }
                    border-bottom: solid 2px lighten($color-steel-thin, 25%);
                }
            }
        }
        &>tbody {
            &>tr {
                &>td.aface.content {
                    &.checkbox {
                        text-align: center;
                        width: $checkbox-dimension;
                        height: $checkbox-dimension;
                        line-height: $checkbox-dimension;
                    }
                    padding: 0 10px;
                    border-bottom: solid 0.5px lighten($color-steel-thin, 30%);
                }
            }
        }
    }
}