$form-obj-height: 30px;
$form-obj-inner-height: 28px;
$form-obj-radius: 0;
$input-height: $form-obj-height;

input.aface.textbox {
    background-color: $color-f;
    height: $input-height;
    line-height: $input-height;
    padding: 0 5px !important;
    font-size: 12px;
    border: solid 1px $color-border;
    &:hover,&:focus,&.active {
        border-color: $color-theme;
    }
}

span.aface.searchbox {
    @include zero;
    font-size: 0;
    display: inline-block;
    height: $input-height;
    line-height: $input-height;
    border: solid 1px $color-border;

    &>i.fa.fa-search {
        float: left;
        font-size: 14px;
        text-align: center;
        color: $color-border;
        width: $form-obj-inner-height;
        height: $form-obj-inner-height;
        line-height: $form-obj-inner-height;
        border: 0;
    }

    &>input.aface.textbox {
        float: left;
        width: calc(100% - 28px);
        height: $form-obj-inner-height;
        line-height: $form-obj-inner-height;
        border: 0;
    }

    &:hover,&:focus,&.active {
        border-color: $color-theme;
        &>i.fa.fa-search {
            color: $color-theme;
        }
    }
}

input::-webkit-input-placeholder {
    color: #C4C6C8;
}

$button-height: $form-obj-height;
$button-padding: 10px;

@mixin button-style($color) {
    border-color: $color;
    color: $color;
    &:hover, &:active, &:focus {
        color: $color-f;
        border: solid 1px $color;
        background-color: $color;
    }
}

button.aface.button {
    display: inline-block;

    height: $button-height;
    line-height: $button-height - 2px;

    border-radius: $form-obj-radius;
    background-color: $color-f;
    color: $color-3;

    padding: 0 $button-padding;
    cursor: pointer;
    font-size: 13px;
    
    &:hover, &:active, &:focus {
        color: $color-f;
        border: solid 1px $color-theme;
        background-color: $color-theme;
    }

    &.success {
        @include button-style($color-success);
    }
}

div.aface.toolbar {
    &>* {
        float: left;
        margin-left: 5px;
        &:first-child {
            margin-left: 0;
        }
    }
}