$form-item-height: 40px;

$color-border: $color-9;
$color-border-active: $color-7;

input {
    outline: none;
    height: $form-item-height;

    font-size: 14px;
    font-family: 'Microsoft YaHei', 'Consolas';

    padding: 0 10px;
    @include border-box;

    border: none;
    border-bottom: solid 1px $color-border;

    &:focus, &:active {
        border-color: $color-primary;
        box-shadow: 0 0 5px rgba($color-primary, 0.7) inset;
    }

    &.aface-textbox {
        &.primary {
            border-color: $color-primary;
            box-shadow: 0 0 5px rgba($color-primary, 0.7) inset;
        }
        &.success {
            border-color: $color-success;
            box-shadow: 0 0 5px rgba($color-success, 0.7) inset;
        }
    }

    &.aface-dropbox {

    }
}

button {
    &.aface-button {
        height: $form-item-height;
        cursor: pointer;
        border-radius: 2px;
        outline: none;

        @include border-box;
    
        border: solid 1px $color-border;
        background-color: $color-e;
        transition: box-shadow $transition-speed;

        &:active {
            border-color: $color-border-active;
            box-shadow: 0 0 5px rgba($color-border-active, 0.7) inset;
        }
    }
}