$top-menu-height: 60px;
$drop-menu-item-height: 40px;
$drop-menu-item-height-small: 30px;
$drop-menu-icon-height: 80px;

body.aface.index {
    overflow: hidden;

    nav.aface.top-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-size: 0;
        height: $top-menu-height;
        background-color: $color-steel;
        z-index: 9999;

        &>img.aface.icon {
            @include zero;
            display: block;
            float: left;
            width: $top-menu-height;
            height: $top-menu-height;
            line-height: $top-menu-height;
        }

        &>ul.aface.menu {
            &>li.menu-item {
                list-style-type: none;
                position: relative;
                float: left;
                height: $top-menu-height;
                line-height: $top-menu-height;
                font-size: 14px;

                &>a.aface.title {
                    color: $color-f;
                    text-decoration: none;
                    display: block;
                    height: $top-menu-height;
                    line-height: $top-menu-height;
                    padding: 0 15px;
                    transition: color $transition-speed;
                }

                &>div.aface.content {
                    position: absolute;
                    display: none;
                    background-color: $color-steel;
                    @include box-shadow;

                    &>a.aface.menu-item {
                        display: block;
                        padding: 0 15px;
                        font-size: 13px;
                        color: $color-f;
                        height: $drop-menu-item-height;
                        line-height: $drop-menu-item-height;
                        transition: background-color $transition-speed;

                        &:hover {
                            background-color: $color-light-blue;
                        }
                    }

                    &>a.aface.menu-icon {
                        display: block;
                        float: left;
                        width: $drop-menu-icon-height;
                        height: $drop-menu-icon-height;
                        line-height: $drop-menu-icon-height;
                        text-align: center;
                        color: $color-f;
                        transition: background-color $transition-speed;

                        &>i.fa, &>img {
                            display: block;
                            float: left;
                            width: $drop-menu-icon-height;
                            height: $drop-menu-icon-height;
                            line-height: $drop-menu-icon-height;
                            font-size: $drop-menu-icon-height / 2;
                        }

                        &:hover {
                            background-color: $color-light-blue;
                        }
                    }
                }

                &:hover {
                    &>a.aface.title { color: $color-light-blue; }
                    &>div.aface.content { display: block; }
                }
            }
        }
            

        &>span.aface {
            display: block;

            &.brand {
                float: left;
                height: $top-menu-height;
                line-height: $top-menu-height;
                font-size: 30px;
                font-family: '黑体';
                text-shadow: 2px 2px rgba($color-steel-abyss, 0.8);
                padding: 0 10px;
                color: $color-f;
                cursor: default;
            }

            &.underline {
                position: absolute;
                bottom: 0;
                height: 4px;
                background-color: $color-light-blue;
            }
        }
        div.drop-menu {
            height: $top-menu-height;
            line-height: $top-menu-height;

            &:hover {
                &>a.aface.title {
                    color: $color-steel;
                }
                &>div.aface.content {
                    display: block;
                }
                background-color: $color-f;
            }

            &>a.aface.title {
                display: block;
                height: $top-menu-height;
                line-height: $top-menu-height;
                font-size: 14px;
                color: $color-f;
                padding: 0 10px;
            }
            &>div.aface.content {
                @include box-shadow;
                background-color: $color-f;
                padding: 4px 0;
                display: none;
                &>a.aface.menu-item {
                    font-size: 13px;
                    display: block;
                    color: $color-steel;
                    height: $drop-menu-item-height-small;
                    line-height: $drop-menu-item-height-small;
                    padding: 0 10px;

                    &:hover {
                        color: $color-f;
                        background-color: $color-light-blue;
                    }
                }
            }
        }
    } // end of nav.aface.top-menu

    &>div.aface.root-frame-container {
        position: absolute;
        top: $top-menu-height;
        left: 0;
        right: 0;
        bottom: 0;
        &>iframe.aface.root-frame {
            @include zero;
            height: 100%;
            width: 100%;
        }
    } // end of div.aface.root-frame-container
}

body.aface.desktop {
    height: 100%;
    line-height: 100%;
    text-align: center;

    &>div.aface.sidebar {
        display: table;
        position: fixed;
        top: 0;
        left: 40px;
        width: 80px;
        height: 100%;
        z-index: 10000;
        &>div {
            display: table-cell;
            vertical-align: middle;
            &>div {
                margin: 0 auto;
                &>div.aface.sidebar-button {
                    position: relative;
                    border-radius: 9999px;
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    background-color: transparent;
                    padding: 6px;
                    border: solid 2px $color-f;
                    cursor: pointer;
                    margin: 20px auto;
                    transition: border-color $transition-speed;

                    &>i.fa {
                        display: block;
                        background-color: $color-f;
                        border-radius: 9999px;
                        width: 64px;
                        height: 64px;
                        line-height: 64px;
                        text-align: center;
                        font-size: 30px;
                        color: $color-3;
                        transition: color $transition-speed, background-color $transition-speed;
                    }

                    &>div.aface.pop-menu {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-left: calc(100% + 20px);
                        opacity: 0.1;
                        visibility: hidden;
                        transform: scale(0.9);
                        transform-origin: top left;
                        transition: transform $transition-speed, opacity $transition-speed;

                        &>div {
                            @include box-shadow;
                            border-radius: 5px;
                            padding: 5px 0;
                            background: $color-f;
                            margin-bottom: 5px;

                            &>span.aface.pop-menu-header {
                                display: block;
                                text-align: left;
                                padding-left: 12px;
                                height: 50px;
                                line-height: 50px;
                                font-size: 22px;
                            }
                            &>span.aface.pop-menu-divider {
                                display: block;
                                height: 1px;
                                line-height: 1px;
                                background: $color-d;
                            }
                            &>a.aface.pop-menu-button {
                                text-align: left;
                                display: block;
                                width: 220px;
                                height: 40px;
                                line-height: 40px;
                                padding-right: 20px;
                                transition: color $transition-speed, background-color $transition-speed;

                                &>i.fa {
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                }

                                &:hover,&.active {
                                    color: $color-f;
                                    background-color: $color-hc-yellow2;
                                }
                            }
                        }
                    }

                    &:hover,&.active {
                        border-color: $color-hc-yellow2;
                        &>i.fa {
                            background-color: $color-hc-yellow2;
                            color: $color-f;
                        }
                        &>div.aface.pop-menu {
                            opacity: 1;
                            visibility: visible;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }

    &>div.aface.work-blocks {
        z-index: 5000;
        text-align: left;
        position: fixed;
        top: 0;
        right: 0;
        left: 160px;
        bottom: 0;
        // background-color: $color-hc-yellow;
        font-size: 0;
        overflow: auto;
        padding-bottom: 50px;

        &>div.aface.work-block {
            float: left;
            width: 30%;
            height: 45%;
            overflow: hidden;

            margin-top: 50px;
            margin-left: 2.5%;
            background-color: $color-f;
            border-radius: 5px;
            @include box-shadow;

            &>div.aface.block-header {
                height: 50px;
                width: 100%;
                background-color: $color-e;
            }

            &:hover, &.active {
                box-shadow: 0 0 6px $color-hc-yellow;
            }
        }
    }
}