$top-menu-height: 50px;
$drop-menu-item-height: 35px;
$drop-menu-item-height-small: 30px;
$drop-menu-icon-height: 80px;

body.aface.index {
    overflow: hidden;

    nav.aface.top-menu {
        @include box-shadow;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-size: 0;
        height: $top-menu-height;
        background-color: $color-steel;
        z-index: 9999;
        background: -webkit-gradient(linear, 70% 10%, 50% 60%, from($color-steel), to($color-steel-abyss));

        &>img.aface.icon {
            @include zero;
            display: block;
            float: left;
            width: $top-menu-height;
            height: $top-menu-height;
            line-height: $top-menu-height;
        }

        &>span.aface {
            display: block;

            &.brand {
                float: left;
                height: $top-menu-height;
                line-height: $top-menu-height;
                font-size: 30px;
                font-family: '黑体';
                text-shadow: 2px 2px rgba($color-steel-abyss, 0.8);
                padding: 0 10px;
                color: $color-f;
                cursor: default;
            }
        }

        div.drop-menu {
            height: $top-menu-height;
            line-height: $top-menu-height;

            &:hover {
                &>a.aface.title {
                    color: $color-steel;
                }
                &>div.aface.content {
                    display: block;
                }
                background-color: $color-f;
            }

            &>a.aface.title {
                display: block;
                height: $top-menu-height;
                line-height: $top-menu-height;
                font-size: 14px;
                color: $color-f;
                padding: 0 10px;
            }

            &>div.aface.content {
                @include box-shadow;
                background-color: $color-f;
                padding: 4px 0;
                display: none;
                &>a.aface.menu-item {
                    font-size: 13px;
                    display: block;
                    color: $color-steel;
                    height: $drop-menu-item-height-small;
                    line-height: $drop-menu-item-height-small;
                    padding: 0 10px;

                    &:hover {
                        color: $color-f;
                        background-color: $color-theme;
                    }
                }
            }
        }
    } // end of nav.aface.top-menu

    &>div.aface.root-frame-container {
        position: absolute;
        top: $top-menu-height;
        left: 0;
        right: 0;
        bottom: 0;
        &>iframe.aface.root-frame {
            @include zero;
            height: 100%;
            width: 100%;
        }
    } // end of div.aface.root-frame-container
}