$fixed-top-height: 60px;
$fixed-top-dropdown-item-height: 40px;

$sidebar-width: 220px;
$sidebar-collapsed-width: $fixed-top-height;
$sidebar-item-height: 40px;
$sidebar-item-height-sm: 35px;
$sidebar-toggle-height: 30px;

$location-height: $sidebar-toggle-height;

body.aface.index {
    background-color: rgb(246,246,246);
    nav.aface.fix-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        font-size: 0;
        height: $fixed-top-height;

        background-color: $color-steel;

        &>img.aface.icon {
            @include zero;
            display: block;
            float: left;
            width: $fixed-top-height;
            height: $fixed-top-height;
            line-height: $fixed-top-height;
        }

        &>span.aface.menuItem {
            display: block;
            float: left;
            height: $fixed-top-height;
            line-height: $fixed-top-height;
            padding: 0 15px;
            font-size: 14px;
            color: $color-f;
            cursor: pointer;
            position: relative;
            transition: color $transition-speed;

            &.active {
                color: $color-info;
            }
        }

        &>span.aface.underline {
            position: absolute;
            bottom: 0;
            height: 5px;
            background-color: transparent;
            transition: background-color $transition-speed;

            &.active {
                background-color: $color-info;
            }
        }
    }
}