$login-window-height: 275px;
$login-window-width: 400px;

$radius: 3px;

body.aface.login {
    background-color: $color-steel;
    background: -webkit-gradient(linear, 0 0, 50% 70%, from($color-steel), to($color-steel-abyss));

    &>div.aface.login-window {
        position: relative;
        width: $login-window-width;
        height: $login-window-height;
        margin: 0 auto;
        top: calc(40% - 130px);
        background-color: $color-f;
        padding-top: 20px;

        border-top: solid 5px $color-light-blue;
        box-shadow: 0 2px 4px rgba($color-steel-abyss, 0.8);
        border-radius: $radius;

        &>span.aface.title {
            position: absolute;
            width: 100%;
            top: -70px;
            color: $color-f;
            font-size: 40px;
            font-family: '黑体';
            text-align: center;
            text-shadow: 8px 8px 8px rgba($color-steel-abyss, 0.6);
            cursor: default;
        }

        &>span.aface.triangle {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            top: -10px;
            left: calc(50% - 10px);
            background-color: $color-light-blue;
            transform: rotate(45deg);
            z-index: -1;
        }

        &>div.aface.line {
            margin: 0 auto;
            margin-top: 20px;
            width: calc(100% - 60px);
            height: 50px;
            border-radius: $radius;

            &>i.fa {
                float: left;
                font-size: 24px;
                display: block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: $color-c;
                color: $color-f;
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;
            }
            &>input {
                @include zero;
                float: left;
                width: calc(100% - 70px);
                height: 50px;
                padding: 0 10px;
                font-size: 14px;
                font-family: 'Consolas';
                background-color: #F2F2F2;
                border-top-right-radius: $radius;
                border-bottom-right-radius: $radius;
            }
            &>a.aface.button {
                border-radius: $radius;
                display: block;
                float: left;
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: $color-f;
                font-size: 20px;
                font-weight: 400;
                // font-family: '黑体';
                transition: background-color $transition-speed;

                &.submit {
                    background-color: $color-hc-orange;
                    border-bottom: solid 3px darken($color-hc-orange, 5%);

                    &:hover {
                        background-color: lighten($color-hc-orange, 5%);
                    }
                    &:active {
                        background-color: $color-hc-orange;
                    }
                }
            }
        }

        &>a.aface.forget-password {
            position: absolute;
            bottom: -20px;
            right: 0;
            font-size: 14px;
            font-family: '黑体';
            color: $color-f;
            text-shadow: 0 2px 4px rgba($color-steel-abyss, 0.6);

            &:hover {
                color: $color-light-blue;
            }
        }
    }

    &>div.aface.copyright {
        position: absolute;
        width: 200px;
        bottom: 5px;
        left: calc(50% - 100px);
        text-align: center;
        color: lighten($color-steel-thin, 10%);
        font-size: 13px;
    }
}
