@mixin pop-message-color($color) {
    background-color: lighten($color, 10%);
    @if (lightness($color) > 60%) {
        color: darken($color, 20%);
    } @else {
        color: $color-f;
    }
}
div.aface.pop-message {
    display: inline-block;
    margin: 5%;
    color: $color-f;
    font-size: 14px;
    max-width: 22em;
    text-align: left;
    padding: 0.5em;

    @include box-shadow;
    @include pop-message-color($color-primary);
}