$modal-title-height: 40px;
$modal-title-item-height: $modal-title-height - 6;

div.aface {
	&.modal-mask {
		position: fixed;
		top: 0;
		left: 0;
        right: 0;
        bottom: 0;
		z-index: 20000;
        display: none;
		background-color: rgba(0, 0, 0, 0.4);
        
		overflow-x: hidden;
		overflow-y: auto;
		
		&>div.aface.modal-window {
            box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.6);
			margin: auto auto;
			z-index: 20001;
            
			background-color: $color-f;
			
			&>div.aface.modal-title {
                height: $modal-title-height;
                line-height: $modal-title-height;
                padding: 3px;
                
                color: $color-f;
                background-color: $color-steel;
                
                &>span.aface.title {
                    display: block;
                    margin-left: 7px;
                    height: $modal-title-item-height;
                    line-height: $modal-title-item-height;
                    float: left;
                }
                
                &>i.fa {
                    display: block;
                    width: $modal-title-item-height + 6;
                    height: $modal-title-item-height;
                    line-height: $modal-title-item-height;
                    float: right;
                    text-align: center;
                    cursor: pointer;
                }
			}
            
            &>div.aface.modal-body {
                height: calc(100% - 40px);
                overflow: hidden;
            }
		}
	}
}

div.aface.full-window-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    text-align: center;
    display: none;

    &.little-white {
        background: rgba(255,255,255, 0.3);
    }
    
    &.little-black {
        background: rgba(0,0,0, 0.3);
    }
}